<template>

    <div class="filterProperty_color" name="COLOR_REF" :id="current_id+1" v-if="(current_id+1)==1">

        <button v-for="(color,id_url) in unique_values_offers[current_id]"
                :value="color"
                :url="colorUrl[id_url]"
                :style="{ backgroundImage: `url(${colorUrl[id_url]})` }"
                class="COLOR_REF_BUTTON"
                @click="filter_run(color,property_name,current_id+1,expected_id,filter_map)">

        </button>

    </div>
    <div class="filterProperty_color" name="COLOR_REF" :id="current_id+1" v-else>

        <button v-for="(color,id_url) in unique_values_offers[current_id]"
                :value="color"
                :url="colorUrl[id_url]"
                class="COLOR_REF_BUTTON"
                style="background-color:grey;"
                disabled=""
                @click="filter_run(color,property_name,current_id+1,expected_id,filter_map)">
        </button>

    </div>

</template>


<script>

    import $ from 'jquery';
    import './css/bloc_color.css';//стили



    export default {

        name: 'bloc_color',
        props: ["current_id", "property_name", "expected_id", "filter_map","offers","unique_values_offers"],

        data() {
            return {
                filterData:new Map(),


                colorUrl: {
                    0: "/upload/uf/694/69421c4f01d73fd75d5aa57ef7491d17.jpg",
                    1: "/upload/uf/fe1/fe1bcd326fd6ac632fd04487a864fef7.jpg",
                    2: "/upload/uf/6fa/6fa3dde1e7b383a55d7b689df7200219.jpg",
                    5: "/upload/uf/7e0/7e098eae34d98193b45fbfed8d2f275d.jpg"
                }
            }
        },
        methods: {


            reset_select(propId, expectedId) //сбрасывает значения всех блоков в диапозоне
            {


                if (expectedId != parseInt(propId)) { // если ожидаемый id не равен фактическому сбросить все послед select

                    for (var i = parseInt(propId) + 1; i <= expectedId; i++) {
                        try {
                            var nameCol = (document.getElementById(i).getAttribute('name'));

                            document.getElementById('input_' + i + '').value = "";
                        }
                        catch (err) {
                        }

                        if (nameCol == 'COLOR_REF') {
                            var idBlocColor = document.querySelector(".filterProperty_color").getAttribute("id");//получает id элемента по названию класа

                            const listBlocColor = document.getElementById(idBlocColor).getElementsByTagName('button');

                            for (let i = 0; i < listBlocColor.length; i++) {
                                listBlocColor[i].disabled = true;
                                listBlocColor[i].style.background = 'grey';

                            }
                        }

                        if (nameCol != 'COLOR_REF') {

                            try {
                                document.getElementById('block-select_' + i + '').style.display = 'block';

                                document.getElementById("span_" + i).innerHTML = "none";
                            }
                            catch (err) {
                            }
                        }

                    }
                }
            },

            open_value_bloc(id_next_elem, ListFilteredParameters) //открывает указанные значения в указанном блоке
            {
                try { //нужен чтобы не выкидывало ошибки когда взаимодействуем с последним seltct


                    const ListNextOptions = document.getElementById(id_next_elem).getElementsByTagName('li');//достаем все option из след селекта


                    for (var i = 0; i < ListNextOptions.length; i++) {


                        if (!ListFilteredParameters.includes(ListNextOptions[i].textContent)) {// если свойства нету в списке доступных параметров.то делаем свойство недоступным

                            ListNextOptions[i].style.display = 'none';
                        }
                        else // если есть в списке то делаем доступным для выбора
                        {
                            ListNextOptions[i].style.display = 'block';
                        }

                    }

                    if (document.getElementById(id_next_elem).classList.contains("filterProperty_color")) {
                        const ListOptionsButon = document.getElementById(id_next_elem).getElementsByTagName('button');

                        for (let i = 0; i < ListOptionsButon.length; i++) {

                            if (!ListFilteredParameters.includes(ListOptionsButon[i].value)) {// если свойства нету в списке доступных параметров.то делаем свойство недоступным
                                ListOptionsButon[i].disabled = true;
                                ListOptionsButon[i].style.background = 'grey';

                            }
                            else // если есть в списке то делаем доступным для выбора
                            {
                                ListOptionsButon[i].disabled = false;
                                ListOptionsButon[i].style.background = ListOptionsButon[i].value;

                                ListOptionsButon[i].style.backgroundImage = "url('" + (ListOptionsButon[i].getAttribute('url')) + "')";
                            }
                        }
                    }
                }
                catch (err) {
                }
            },

            checkProduct(item)//возвращает массив отфильтрованных товаров
            {
                for (var [key, value] of this.filterData) {
                    if (item[key] != value[0]) return false;
                }
                return true;
            },

            create_value_filter_list(TempFiltered, propNameNext) // возвращает список значений доступных для следующего блока
            {
                var ListFilteredParameters = ''; //список доступных параметров
                var i = 0;//счетчик для цикла
                while (i < TempFiltered.length) //записываем в список доступные параметры
                {
                    if (!ListFilteredParameters.includes(TempFiltered[i][propNameNext])) {
                        ListFilteredParameters += TempFiltered[i][propNameNext] + ' ';
                    }
                    i++;
                }
                return ListFilteredParameters;
            },


            filter_run: function (propVal, propName, propId, expectedId, filterMap)
            {

                var offers = this.offers;
                this.filterData = filterMap;


                this.reset_select(propId, expectedId);// проверяет нажат ли нужный блок и сбрасывет значения


                var nextBlocSelect = parseInt((propId)) + 1;
                expectedId = parseInt(propId) + 1; // увеличиваем ожидаемый id


                try {
                    document.getElementById('block-select_' + nextBlocSelect + '').style.display = 'none'; //снимаем ограничитель у следующего блока
                }
                catch (err) {
                }


                for (var [key, value] of this.filterData)  // это для сброса фильров
                {
                    if (propId < value[1]) { // value[0]-значение , value[1]-id
                        this.filterData.delete(key);
                    }
                }


                var propNameNext = $("#input_" + (parseInt(propId) + 1)).attr("name");// получаем name следующего селекта
                var parametersAndId = [propVal, propId] //загоняем сюда свойство и id
                this.filterData.set(propName, parametersAndId);





                var TempFiltered = (offers.filter(this.checkProduct));// записываем отфильрованный массив в временный массив



                /////
                this.$emit('updateParent',
                    {
                        exeptid: expectedId,
                        filterDataMap: this.filterData,
                        temp_filtered:TempFiltered,

                    });
                /////


                var ListFilteredParameters = this.create_value_filter_list(TempFiltered, propNameNext);  // получаем значения которые надо вывести
                this.open_value_bloc(expectedId, ListFilteredParameters);// делаем значения доступными


            },


        },


    }



</script>

