<template>
    <div>
        <div class="wrap-drop"
             :id='current_id+1'
             :name="property_name">

            <span :id="'span_'+(1+current_id)">none</span>
            <ul class="drop">
                <li :value="value" v-for="value in unique_values_offers[current_id]">
                    <a @click="filter_run(value,property_name,current_id+1,expected_id,filter_map)">{{value}}</a>
                </li>
            </ul>
        </div>


        <input style="display: none;" class="filterInput" :id="'input_'+(1+current_id)" type="text"
               :name="property_name"
               size="40">

        <div v-if="(current_id+1)!=1">
            <div class="block-select" :id="'block-select_'+(1+current_id)" style="display:block;"></div>
        </div>


        <div v-else>
            <div class="block-select" :id="'block-select_'+(1+current_id)"></div>
        </div>

    </div>


</template>


<script>
    //должно передаваться между компонентами

    import $ from 'jquery';
    import drop_down from './js/Drop_down'; //для работы селекта
    import './css/bloc_select.css';//стили

    export default {
        name: 'bloc_select',
        props: ["current_id", "property_name", "expected_id", "filter_map", "offers","unique_values_offers"],
        data() {
            return {

                filterData: new Map(),

            }
        },
        methods: {


            reset_select(propId, expectedId) //сбрасывает значения всех блоков в диапозоне
            {


                if (expectedId != parseInt(propId)) { // если ожидаемый id не равен фактическому сбросить все послед select

                    for (var i = parseInt(propId) + 1; i <= expectedId; i++) {
                        try {
                            var nameCol = (document.getElementById(i).getAttribute('name'));

                            document.getElementById('input_' + i + '').value = "";
                        }
                        catch (err) {
                        }

                        if (nameCol == 'COLOR_REF') {
                            var idBlocColor = document.querySelector(".filterProperty_color").getAttribute("id");//получает id элемента по названию класа

                            const listBlocColor = document.getElementById(idBlocColor).getElementsByTagName('button');

                            for (let i = 0; i < listBlocColor.length; i++) {
                                listBlocColor[i].disabled = true;
                                listBlocColor[i].style.background = 'grey';

                            }
                        }

                        if (nameCol != 'COLOR_REF') {

                            try {
                                document.getElementById('block-select_' + i + '').style.display = 'block';

                                document.getElementById("span_" + i).innerHTML = "none";
                            }
                            catch (err) {
                            }
                        }

                    }
                }
            },

            open_value_bloc(id_next_elem, ListFilteredParameters) //открывает указанные значения в указанном блоке
            {
                try { //нужен чтобы не выкидывало ошибки когда взаимодействуем с последним seltct


                    const ListNextOptions = document.getElementById(id_next_elem).getElementsByTagName('li');//достаем все option из след селекта


                    for (var i = 0; i < ListNextOptions.length; i++) {


                        if (!ListFilteredParameters.includes(ListNextOptions[i].textContent)) {// если свойства нету в списке доступных параметров.то делаем свойство недоступным

                            ListNextOptions[i].style.display = 'none';
                        }
                        else // если есть в списке то делаем доступным для выбора
                        {
                            ListNextOptions[i].style.display = 'block';
                        }

                    }

                    if (document.getElementById(id_next_elem).classList.contains("filterProperty_color")) {
                        const ListOptionsButon = document.getElementById(id_next_elem).getElementsByTagName('button');

                        for (let i = 0; i < ListOptionsButon.length; i++) {

                            if (!ListFilteredParameters.includes(ListOptionsButon[i].value)) {// если свойства нету в списке доступных параметров.то делаем свойство недоступным
                                ListOptionsButon[i].disabled = true;
                                ListOptionsButon[i].style.background = 'grey';

                            }
                            else // если есть в списке то делаем доступным для выбора
                            {
                                ListOptionsButon[i].disabled = false;
                                ListOptionsButon[i].style.background = ListOptionsButon[i].value;

                                ListOptionsButon[i].style.backgroundImage = "url('" + (ListOptionsButon[i].getAttribute('url')) + "')";
                            }
                        }
                    }
                }
                catch (err) {
                }
            },

            checkProduct(item)//возвращает массив отфильтрованных товаров
            {
                for (var [key, value] of this.filterData) {
                    if (item[key] != value[0]) return false;
                }
                return true;
            },

            create_value_filter_list(TempFiltered, propNameNext) // возвращает список значений доступных для следующего блока
            {
                var ListFilteredParameters = ''; //список доступных параметров
                var i = 0;//счетчик для цикла
                while (i < TempFiltered.length) //записываем в список доступные параметры
                {
                    if (!ListFilteredParameters.includes(TempFiltered[i][propNameNext])) {
                        ListFilteredParameters += TempFiltered[i][propNameNext] + ' ';
                    }
                    i++;
                }
                return ListFilteredParameters;
            },

            filter_run: function (propVal, propName, propId, expectedId, filterMap)
            {

                var offers = this.offers;
                this.filterData = filterMap;


                this.reset_select(propId, expectedId);// проверяет нажат ли нужный блок и сбрасывет значения


                var nextBlocSelect = parseInt((propId)) + 1;
                expectedId = parseInt(propId) + 1; // увеличиваем ожидаемый id


                try {
                    document.getElementById('block-select_' + nextBlocSelect + '').style.display = 'none'; //снимаем ограничитель у следующего блока
                }
                catch (err) {
                }


                for (var [key, value] of this.filterData)  // это для сброса фильров
                {
                    if (propId < value[1]) { // value[0]-значение , value[1]-id
                        this.filterData.delete(key);
                    }
                }


                var propNameNext = $("#input_" + (parseInt(propId) + 1)).attr("name");// получаем name следующего селекта
                var parametersAndId = [propVal, propId] //загоняем сюда свойство и id
                this.filterData.set(propName, parametersAndId);





                var TempFiltered = (offers.filter(this.checkProduct));// записываем отфильрованный массив в временный массив


                /////
                this.$emit('updateParent',
                    {
                        exeptid: expectedId,
                        filterDataMap: this.filterData,
                        temp_filtered:TempFiltered,
                    });
                /////


                var ListFilteredParameters = this.create_value_filter_list(TempFiltered, propNameNext);  // получаем значения которые надо вывести
                this.open_value_bloc(expectedId, ListFilteredParameters);// делаем значения доступными


            },

        },

    }


</script>
