<template>
    <div id="vue-application" class="upper_filters_list">
        <div v-for="(item,s) in list_filter">

            <div v-if="item=='COLOR_REF'">
                <color_bloc :current_id="s"
                            :property_name="item"
                            :filter_map="filter_data_map"
                            :expected_id="expectedetId"
                            :offers="offerse"
                            :unique_values_offers="unique_values_offer"
                            @updateParent="updateData"></color_bloc>

                <input style="display: none;" class="filterInput" :id='"input_"+(1+s)' type="text" :name="item"
                       size="40">
            </div>



            <div class="drop-wrapper" v-else>

                <select_bloc
                        :current_id="s"
                        :property_name="item"
                        :filter_map="filter_data_map"
                        :expected_id="expectedetId"
                        :offers="offerse"
                        :unique_values_offers="unique_values_offer"
                        @updateParent="updateData"></select_bloc>

            </div>

        </div>


        <ul id="example-1">
            <li v-for="item in temp_filtered " >
                {{ item.id}}
            </li>
        </ul>


    </div>
</template>


<script>


    import color_bloc from './bloc_color';
    import select_bloc from './bloc_select';

    export default {
        name: 'Ap',
        props: ["current_id", "property_name", "expectedId","filter_map","offers","unique_values_offers"],
        components: {
            color_bloc,
            select_bloc
        },
        data() {

            return {
                expectedetId: 1,

                filter_data_map: new Map(),


                temp_filtered :[
                    {COLOR_REF: "purple", SIZES_SHOES: "36", TASTE: "Сладкий", id: "317", price: "500"},
                    {COLOR_REF: "blue", SIZES_SHOES: "40", TASTE: "Кислый", id: "207", price: "1199"},
                    {COLOR_REF: "pink", SIZES_SHOES: "36", TASTE: "Сладкий", id: "208", price: "1199"},
                    {COLOR_REF: "pink", SIZES_SHOES: "37", TASTE: "Сладкий", id: "209", price: "1199"},
                    {COLOR_REF: "pink", SIZES_SHOES: "39", TASTE: "Кислый", id: "211", price: "1199"},
                    {COLOR_REF: "jeans", SIZES_SHOES: "40", TASTE: "Сладкий", id: "210", price: "1199"}
                ],


                list_filter: ["SIZES_SHOES", "COLOR_REF", "TASTE"],

                unique_values_offer: [
                    {0: "36", 1: "40", 3: "37", 4: "39"},
                    {0: "purple", 1: "blue", 2: "pink", 5: "jeans"},
                    ["Сладкий", "Кислый"],
                ],

                offerse:[
                    {COLOR_REF: "purple", SIZES_SHOES: "36", TASTE: "Сладкий", id: "317", price: "500"},
                    {COLOR_REF: "blue", SIZES_SHOES: "40", TASTE: "Кислый", id: "207", price: "1199"},
                    {COLOR_REF: "pink", SIZES_SHOES: "36", TASTE: "Сладкий", id: "208", price: "1199"},
                    {COLOR_REF: "pink", SIZES_SHOES: "37", TASTE: "Сладкий", id: "209", price: "1199"},
                    {COLOR_REF: "pink", SIZES_SHOES: "39", TASTE: "Кислый", id: "211", price: "1199"},
                    {COLOR_REF: "jeans", SIZES_SHOES: "40", TASTE: "Сладкий", id: "210", price: "1199"}
                ],
            }
        },
        methods: {
            updateData(data) {
                this.filter_data_map = data.filterDataMap;
                this.expectedetId = data.exeptid;
                this.temp_filtered=data.temp_filtered;
            }

        },
    }


</script>